body
{
	background-color: 	antiquewhite;

}
.link
{
	text-decoration: 	underline;
	color: 	brown;

}

#pelist
{
	color: brown;
	text-decoration: underline;
	font-style: 	normal;
	border: solid black 1px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}



h1
{
	font-family: 	Monospace, Serif;
	color: royalblue;
	text-align: center;
}
