body {
    background-color: antiquewhite;
}
.gehiago {
    text-decoration: underline;
    color: brown
}
#pelist {
    color: brown;
    text-decoration: underline;
    font-style: normal;
    border: solid black 1px;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
#pelist > * {
    color: brown;
    text-decoration: underline;
    font-style: normal;
}
h1 {
    font-family: Monospace, Serif;
    color: royalblue;
    text-align: center;
}
div.iruzkina {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
    border: solid black 1px;
}
.ir_goiburua {
    background-color: #993300;
}
.egilea {
    font-weight: bold;
    font-size: 1.2em;
    color: #FFFFFF;
}
.ir_gorputza {
    text-align: justify;
    text-indent: 2em;
    margin: 1em;
}
span {
    padding: 1em;
}
